/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) repeat(8, minmax(0, 1fr)) minmax(0, 1fr);
    grid-gap: 20px;
}

#navigation {
    grid-column: span 2;
    background-color: #f2f2f2;
    padding: 25px;
}

#main {
    grid-column: span 9;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-height: 700px;
}

#menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}

#menu button {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 0px;
}

#menu button:hover {
    background-color: greenyellow;
    color: rgb(136, 57, 193);
    margin-left: 0px;
    margin-right: 0px;
}

.content {
    display: none;
    min-height: 500px;
    
}

#movieManageContent {
    overflow-y: auto;
    max-height: 550px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#movieManageContent tr:hover {
    background-color: #ddd;
}

.btnEdit, .btnDelete, .btnShift {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.btnEdit:hover, .btnDelete:hover {
    background-color: #218838;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-group {
    margin-bottom: 10px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.error-message {
    display: none;
    color: red;
    margin-bottom: 10px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#togglePassword, #toggleOldPassword, #toggleNewPassword {
    float: right;
}

#btnLogout {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0eac0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btnLogout:hover {
    background-color: #04670c;
}

#btnChangePassword {
    position: fixed;
    bottom: 80px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0e9cac;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    max-width: 120px;
    text-align: center;
}

#btnChangePassword:hover {
    background-color: #007bff;
}

#btnChangePasswordConfirm {
    background-color: rgb(15, 165, 75);
    color: white;
    padding: 5px;
    border-radius: 4px;
    padding: 10px;
}

#btnChangePasswordConfirm:hover {
    background-color: green;
}

.input-group select {
    width: 100%;
}

.review {
    border: 2px solid #ccc;
    border-radius: 5px 5px 50px 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: blueviolet;
    color: #fff;
    max-width: 50%;
    transition: 200ms;
}

.review:hover {
    background-color: rgb(103, 41, 148);
    padding-bottom: 30px;
}

.review strong {
    font-weight: bold;
}

.review div {
    margin-bottom: 5px;
}

.review div strong {
    font-weight: normal;
}